*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:black;
}

#card{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 500px;
  margin-top: 10px;
  padding:0;
  background-color:darkturquoise;
}
Button{
  width: 100%;
}

h1{
  margin-bottom: 30px;
}
h5{
  display:flex;
  text-align: center;
}